$default-backgroundColor: white;
$dark-backgroundColor: #222;
$dark: rgba(109,116,134,.9);
$sidebar-icon-color: #9ea5b6;
$sidebar-background-bottom-rainBlue-img: '../assets/images/sidebar/rainBlue.png';
$sidebar-background-bottom-pink-img: '../assets/images/sidebar/pink.png';
$sidebar-background-bottom-purple-img: '../assets/images/sidebar/purple.png';
$sidebar-background-bottom-warmOrange-img: '../assets/images/sidebar/warmOrange.png';
$sidebar-background-bottom-yellow-img: '../assets/images/sidebar/yellow.png';
$sidebar-background-bottom-blue-img: '../assets/images/sidebar/blue.png';
$sidebar-background-bottom-green-img: '../assets/images/sidebar/green.png';
$sidebar-background-bottom-girlPink-img: '../assets/images/sidebar/girlPink.png';
$sidebar-background-bottom-lavenderPurple-img: '../assets/images/sidebar/lavenderPurple.png';

$white: #fff;
$black: #000;
$yellow: #e4ac2f;
$blackGold: #e4ac2f;
$purple: #8457f2;
$pink: #F56B9B;
$brown: #BA7A5C;
$green: #57C69A;
$blue: #3d7bff;
$warmOrange: #FF9670;
$rainBlue: #0EC0C8;
$girlPink: #FA8C8E;
$lavenderPurple: #CA6CF5;

$themes: (
  etm-rainBlue:(
    color: $rainBlue,
    backgroundColor: $default-backgroundColor
  ),
  etm-pink:(
    color: $pink,
    backgroundColor: $default-backgroundColor
  ),
  etm-purple:(
    color: $purple,
    backgroundColor: $default-backgroundColor
  ),
  etm-warmOrange:(
    color: $warmOrange,
    backgroundColor: $default-backgroundColor
  ),
  etm-blackGold: (
    color: $blackGold,
    backgroundColor: $default-backgroundColor
  ),
  //etm-yellow: (
  //  color: $yellow,
  //  backgroundColor: $default-backgroundColor
  //),
  etm-blue:(
    color: $blue,
    backgroundColor: $default-backgroundColor
  ),
  etm-green:(
    color: $green,
    backgroundColor: $default-backgroundColor
  ),
  etm-girlPink:(
    color: $girlPink,
    backgroundColor: $default-backgroundColor
  ),
  etm-lavenderPurple:(
    color: $lavenderPurple,
    backgroundColor: $default-backgroundColor
  ),
  etm-brown:(
    color: $brown,
    backgroundColor: $default-backgroundColor
  )

);



/**
 * 设置边框颜色
 */
@mixin etm-bdc {
  @each $key, $value in $themes {
    .#{$key} & {
      border-color: map_get($value, 'color');
    }
  }
}


/**
 * 设置背景色
 */
@mixin etm-bgc {
  @each $key, $value in $themes {
    .#{$key} & {
      background-color: map_get($value, 'color');
    }
  }
}

/**
 * 字体颜色
 */
@mixin etm-color {
  @each $key, $value in $themes {
    .#{$key} & {
      color: map_get($value, 'color');
    }
  }
}


/**
 * 根据主题色设置背景透明度
 */
@mixin etm-bgc-rgba ($opacity: 0.12){
  @each $key, $value in $themes {
    .#{$key} & {
      background-color: rgba(map_get($value, 'color'), $opacity);
    }
  }
}

/**
 * 设置sidebar主题色
 */
$sidebarThemes: (
  etm-rainBlue:(
    color: $rainBlue,
    sidebarMenuitemActiveColor: $white,
    sidebarMenuitemDefaultColor: rgba($white,0.7),
    sidebarMenuitemLeftIconDefaultColor: rgba($white,0.7),
    sidebarMenuitemActiveBgc: $black,
    sidebarSubmenuTitleActiveBgc: $black,
    backgroundColor: linear-gradient(-45deg, #3CADD3, #1DBCBB),
    sidebarBackgroundBottomImg: url($sidebar-background-bottom-rainBlue-img)

),
  etm-pink:(
    color: $pink,
    sidebarMenuitemActiveColor: $white,
    sidebarMenuitemDefaultColor: rgba($white,0.7),
    sidebarMenuitemLeftIconDefaultColor: rgba($white,0.7),
    sidebarMenuitemActiveBgc: $white,
    sidebarSubmenuTitleActiveBgc: $white,
    backgroundColor: linear-gradient(-45deg, #E64BB8, #EB75AF),
    sidebarBackgroundBottomImg: url($sidebar-background-bottom-pink-img)

  ),
  etm-purple:(
    color: $purple,
    sidebarMenuitemActiveColor: $white,
    sidebarMenuitemDefaultColor: rgba($white,0.7),
    sidebarMenuitemLeftIconDefaultColor: rgba($white,0.7),
    sidebarMenuitemActiveBgc: $white,
    sidebarSubmenuTitleActiveBgc: $white,
    backgroundColor: linear-gradient(-45deg, #7D69D3, #9B6ED8),
    sidebarBackgroundBottomImg: url($sidebar-background-bottom-purple-img)

  ),
  etm-warmOrange:(
    color: $warmOrange,
    sidebarMenuitemActiveColor: $white,
    sidebarMenuitemDefaultColor: rgba($white,0.7),
    sidebarMenuitemLeftIconDefaultColor: rgba($white,0.7),
    sidebarMenuitemActiveBgc: $white,
    sidebarSubmenuTitleActiveBgc: $white,
    backgroundColor: linear-gradient(-45deg, #F35A57, #F28466),
    sidebarBackgroundBottomImg: url($sidebar-background-bottom-warmOrange-img)

  ),
  etm-blackGold: (
    color: $blackGold,
    sidebarMenuitemActiveColor: $blackGold,
    sidebarMenuitemDefaultColor: rgba($white,0.7),
    sidebarMenuitemLeftIconDefaultColor: rgba($white,0.7),
    sidebarMenuitemActiveBgc: $white,
    sidebarSubmenuTitleActiveBgc: $white,
    backgroundColor: linear-gradient(-45deg, #2D2C31, #403D3B),
    sidebarBackgroundBottomImg: url($sidebar-background-bottom-yellow-img)

  ),
  //etm-yellow: (
  //  color: $yellow,
  //  sidebarMenuitemActiveColor: $yellow,
  //  sidebarMenuitemDefaultColor: rgba($white,0.7),
  //  sidebarMenuitemLeftIconDefaultColor: rgba($white,0.7),
  //  sidebarMenuitemActiveBgc: $white,
  //  sidebarSubmenuTitleActiveBgc: $white,
  //  backgroundColor: linear-gradient(-45deg, #2D2C31, #403D3B),
  //  sidebarBackgroundBottomImg: url($sidebar-background-bottom-yellow-img)
  //
  //),
  etm-blue:(
    color: $blue,
    sidebarMenuitemActiveColor: $white,
    sidebarMenuitemDefaultColor: rgba($white,0.7),
    sidebarMenuitemLeftIconDefaultColor: rgba($white,0.7),
    sidebarMenuitemActiveBgc: $white,
    sidebarSubmenuTitleActiveBgc: $white,
    backgroundColor: linear-gradient(-45deg, #4979E7, #5C90E5),
    sidebarBackgroundBottomImg: url($sidebar-background-bottom-blue-img)

  ),
  etm-green:(
    color: $green,
    sidebarMenuitemActiveColor: $green,
    sidebarMenuitemDefaultColor: $dark,
    sidebarMenuitemLeftIconDefaultColor: $sidebar-icon-color,
    sidebarMenuitemActiveBgc: $green,
    sidebarSubmenuTitleActiveBgc: $white,
    backgroundColor: $default-backgroundColor,
    sidebarBackgroundBottomImg: url($sidebar-background-bottom-green-img)

  ),
  etm-girlPink:(
    color: $girlPink,
    sidebarMenuitemActiveColor: $girlPink,
    sidebarMenuitemDefaultColor: $dark,
    sidebarMenuitemLeftIconDefaultColor: $sidebar-icon-color,
    sidebarMenuitemActiveBgc: $girlPink,
    sidebarSubmenuTitleActiveBgc: $white,
    backgroundColor: $default-backgroundColor,
    sidebarBackgroundBottomImg: url($sidebar-background-bottom-girlPink-img)

  ),
  etm-lavenderPurple:(
    color: $lavenderPurple,
    sidebarMenuitemActiveColor: $lavenderPurple,
    sidebarMenuitemDefaultColor: $dark,
    sidebarMenuitemLeftIconDefaultColor: $sidebar-icon-color,
    sidebarMenuitemActiveBgc: $lavenderPurple,
    sidebarSubmenuTitleActiveBgc: $white,
    backgroundColor: $default-backgroundColor,
    sidebarBackgroundBottomImg: url($sidebar-background-bottom-lavenderPurple-img)

  ),

);

/**
 * 设置sidebar默认字体色
 */
@mixin etm-sidebar-menuitem-default-color {
  @each $key, $value in $sidebarThemes {
    .#{$key} & {
      color: map_get($value, 'sidebarMenuitemDefaultColor');
    }
  }
}

/**
 * 设置sidebar默认左侧icon颜色
 */
@mixin etm-sidebar-menuitem-left-icon-default-color {
  @each $key, $value in $sidebarThemes {
    .#{$key} & {
      color: map_get($value, 'sidebarMenuitemLeftIconDefaultColor');
    }
  }
}

/**
 * 设置sidebar选中项字体色
 */
@mixin etm-sidebar-menuitem-active-color {
  @each $key, $value in $sidebarThemes {
    .#{$key} & {
      color: map_get($value, 'sidebarMenuitemActiveColor');
    }
  }
}

/**
 * 设置sidebar选中项Menuitem背景色
 */
@mixin etm-sidebar-menuitem-active-bgc {
  @each $key, $value in $sidebarThemes {
    .#{$key} & {
      background-color: rgba(map_get($value, 'sidebarMenuitemActiveBgc'), 0.12);
    }
  }
}

/**
 * 设置sidebar 选中项SubmenuTitle背景色
 */
@mixin etm-sidebar-submenuTitle-active-bgc {
  @each $key, $value in $sidebarThemes {
    .#{$key} & {
      background-color: rgba(map_get($value, 'sidebarSubmenuTitleActiveBgc'), 0.12);
    }
  }
}

/**
 * 设置sidebar背景色
 */
@mixin etm-sidebar-bgc {
  @each $key, $value in $sidebarThemes {
    .#{$key} & {
      background: map_get($value, 'backgroundColor');
    }
  }
}

/**
 * 设置sidebar底部背景图
 */
@mixin etm-sidebar-background-bottom-img {
  @each $key, $value in $sidebarThemes {
    .#{$key} & {
      background-image: map_get($value, 'sidebarBackgroundBottomImg');
      background-repeat: no-repeat;
      background-position: right bottom;
    }
  }
}

/**
 * 设置sidebar折叠时弹出框内选中项背景色
 */
@mixin etm-sidebar-vertical-active-bgc {
  @each $key, $value in $sidebarThemes {
    .#{$key} & {
      background-color: rgba(map_get($value, 'color'), 0.12);
    }
  }
}

/**
 * 设置sidebar折叠时弹出框内默认字体色
 */
@mixin etm-sidebar-vertical-default-color {
  @each $key, $value in $sidebarThemes {
    .#{$key} & {
      color: $dark;
    }
  }
}
