{{#if template}}
<template>
  <div></div>
</template>
{{/if}}

{{#if script}}
<script>
export default {
  name: '{{ pascalCase name }}',
  props: {},
  data() {
    return {}
  }
}
</script>
{{/if}}

{{#if style}}
<style scoped lang="scss">
</style>
{{/if}}
