// ========================全局基准色=======================
$color-white: #fff;
$color-default-backgroundColor: #fff;

// ========================主题色==========================
// 颜色以color开头
$color-yellow: #ffac4d;
$color-purple: #8457f2;
$color-pink: #f56b9b;
$color-brown: #ba7a5c;
$color-green: #57c69a;
$color-blue: #3d7bff;
$color-warmOrange: #ff9670;
$color-rainBlue: #0ec0c8;
$color-girlPink: #fa8c8e;
$color-lavenderPurple: #ca6cf5;


// ========================常用色==========================
// 分割线
$color-divide: #eee;
// 错误
$color-error: #f5222d;
// 提示
$color-tip: #0189ff;
// 警告
$color-warn: #faad14;
// 标题
$color-title: #222;
// 信息
$color-info: #999;
// 文本
$color-text: #555;
// 辅助色
$color-secondary: #999;
// 悬浮
$color-hover: #fafafa;
// 普通背景
$color-background: #f2f4f9;
// 边框 旧版UI需保留的颜色变量
$color-border-base: #dcdfe6;
//
$color-control: #e0e0e0;
$color-disabled: #ccc;

// ========================常用变量==========================
$white: #fff;
$black: #000;
$yellow: #e4ac2f;
$blackGold: #e4ac2f;
$purple: #8457f2;
$pink: #f56b9b;
$brown: #ba7a5c;
$green: #57c69a;
$blue: #3d7bff;
$warmOrange: #ff9670;
$rainBlue: #0ec0c8;
$girlPink: #fa8c8e;
$lavenderPurple: #ca6cf5;

// ========================常用字体========================
// 字体以font开头
$font-example: 14px;
$font-comment: 12px;
