.EtmPop {
  .el-dialog {
    background-color: $white;
    border-radius: 4px;
    margin-bottom: 0!important;
    &.simple {
      width: 480px;
      .el-dialog__body {
        min-height: 115px;
        max-height: 226px;
      }
    }
    &.complex {
      width: 686px;
      .el-dialog__body {
        min-height: 281px;
        max-height: calc(70vh - 139px);
      }
    }
    &.big {
      width: 1000px;
      .el-dialog__body {
        min-height: 421px;
        max-height: calc(70vh - 139px);
      }
    }
    .el-dialog__header {
      height: 55px;
      padding: 19px 24px 20px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color: $etm-border-color;
      .el-dialog__close {
        font-size: 16px;
      }
      .el-dialog__title {
        color: $--color-text-primary;
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
      }
      .el-dialog__headerbtn {
        top: 16px;
        &:hover .el-dialog__close, &:focus .el-dialog__close {
          color: $--color-danger;
        }
      }
    }
    .el-dialog__body {
      margin-top: 24px;
      padding: 0 24px 0;
      overflow: auto;
    }
    .el-dialog__footer {
      width: 100%;
      padding: 14px 24px 14px;
      .el-button {

      }
      .el-button+.el-button {
        margin-left: 8px;
      }
    }
  }
}
