.EtmTableToolBar-wrap {

   .el-form-item {
    margin-bottom: 16px;
  }

   .btns-box {
    .el-form-item__content > div {
      display: flex;

      *:first-child {
        margin-left: 0!important;
      }

      & > .el-button, & > .el-dropdown {
        margin-left: 8px;
      }
    }
  }
}
