.EtmToolPanel-wrap {
  margin-bottom: 16px;
  background-color: white;

   .EtmTitle-wrap {
    margin-bottom: 16px;
  }

  .content {
    padding: 0 24px;

    .tags {
      font-size: 14px;
      margin-bottom: 16px;

      .title {
        margin-right: 10px;
        color: #555
      }

      .tag {
        display: inline-block;
        text-align: center;
        position: relative;
        cursor: pointer;
        color: #555;
        user-select: none;
      }

      .active {
        color: $--color-primary;
      }
    }
  }

}
